/* Estilo provisional */
.main-content, .main-content-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    background-color: #F2F4F6;
}

/* aside*/
.aside-content {
    margin-top: 20vh;
}

.aside-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 50px;
    padding: 0 2rem;
}
.asideItemBody {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    padding: 1rem 3rem;
}
/*fin aside*/
.main-content{

 /*    display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F2F4F6;
}

.main-content-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Lista de cardsnews*/
.main-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    margin: auto;
}

.infinite{
    overflow: hidden !important;
}

.body-card, .body-card-minimize{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s ease;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 2px grey;
    overflow: hidden;
}

.body-card{
    animation: resize 0.5s ease;
}

.body-card-minimize{
    animation: minimize 0.5s ease;
}

.pseudo-description{
    font-size: 20px;
    font-weight: bolder;
    margin: auto;
    padding: 2px 5px;
}

.body-card-minimize .control{
    margin-top: 10px;
}

.body-card-minimize .control p{
    top: 0px;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: -2px;
    font-weight: bolder;
}

.card-img{
    display: flex;
    margin: auto;
    padding: 10px;
    width: 40%;
    height: 90%;
    animation: aparition 2.5s ease;
}

.card-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}

.card-text{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    gap: 5%;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: aparition 2.5s ease;
}

.description-card-text{
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

.description-card-text:hover{
    color: red;
}

.categoria-card-text{
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: green;
    font-weight: lighter;
}

.footer-card-text{
    cursor: pointer;
}

.comments-card-text{
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 5px;
    box-shadow: 0 0 5px grey;
}

.comments-card-text:hover{
    box-shadow: 0 0 10px grey;
}

.read-more{
    color: black;
    font-size: 20px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.read-more:hover{
    color: red;
}

/*CABECERA DE NOTICIAS*/

.body-card-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    animation: resizeHeader 0.5s ease;
}

.last-new-label{
    padding: 10px;
}

.last-new-label p{
    font-size: 30px;
    color: grey;
    font-weight: bolder;
    text-transform: uppercase;
}

.card-img-header{
    width: 80%;
    height: 660px;
    box-shadow: 0 0 20px grey;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    animation: aparition 3.5s ease;
}

.card-img-header img{
    width: 100%;
    height: 100%;
}

.card-text-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 20px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: aparition 3.5s ease;
}

.description-card-text-header{
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
}

.description-card-text-header:hover{
    color: red;
}

.categoria-card-text-header{
    text-transform: uppercase;
    font-size: 20px;
    color: green;
}

.control{
    margin-top: 15px;
    height: 20px;
    width: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: #72DA38;
    border-radius: 2px;
}

.control p{
    display: block;
    position: relative;
    top: -24px;
}

.control:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #72DA38;
    text-shadow: 0 0 5px white;
}

.space{
    width: 100%;
    height: 500px;
}

.window-chat{
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 15px grey;
    padding: 20px;
    gap: 20px;
    z-index: 150;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.close-chat{
    position: relative;
    border-radius: 100%;
    background-color: rgb(224, 50, 50);
    box-shadow: 0 0 15px inset red, 0 0 5px rgb(224, 50, 50);
    outline: none;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: white;
    top: 1.5%;
    left: 96%;
}

.close-chat:hover{
    box-shadow: 0 0 15px inset red, 0 0 15px rgb(224, 50, 50);
}

.chat{
    display: flex;
    flex-direction: column;
    margin-top: -40px;
    width: 94%;
    height: 80%;
    border-radius: 20px;
    min-height: 80%;
    max-height: 80%;
    padding: 20px;
    background-color: whitesmoke;
}

.content-comment{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 0 5px grey;
    overflow-y: scroll;
    border-radius: 20px;
    margin-top: 10px;
    gap: 10px;
    width: 100%;
    height: 40px;
}

.frame{
    width: 50px;
    height: 100%;
}

.frame img{
    width: 100%;
    height: 100%;
}

.delete-comment{
    border-radius: 0px 20px 20px 0px;
    font-size: 20px;
    width: 9%;
    height: 100%;
}

.comment{
    width: 80%;
    font-size: 20px;
    font-weight: bolder;
}

.controls-chat{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

.controls-chat input{
    font-size: 30px;
    padding: 5px 20px;
    width: 70%;
    outline: none;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 5px grey;
}

.controls-chat .error-input{
    box-shadow: 0 0 10px red;
}

.controls-chat button{
    background-color: rgb(224, 50, 50);
    box-shadow: 0 0 15px inset red, 0 0 5px rgb(224, 50, 50);
    padding-bottom: 30px;
    color: white;
    width: 30%;
    font-size: 50px;
    cursor: pointer;
    font-weight: bolder;
    border: none;
    outline: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.controls-chat button:hover{
    box-shadow: 0 0 15px inset red, 0 0 15px rgb(224, 50, 50);
}

@media (max-width:900px){
    .space{
        height: 650px;
    }
}

@media (max-width:800px) {

    .body-card-minimize p{
        font-size: 15px;
    }

    .space{
        height: 700px;
    }

    .card-text{
        font-size: 10px;
        gap: 5px;
        width: 100%;
    }

    .description-card-text{
        font-size: 15px;
    }

    .categoria-card-text{
        font-size: 12px;
    }

    .card-text button{
        font-size: 12px;
    }

    .card-img{
        height: 50%;
        width: 30%;
        padding: 0px;
        padding-right: 5px;
    }

    .card-text-header{
        font-size: 10px;
    }

    .card-img-header{
        height: 300px;
    }

    .description-card-text-header{
        font-size: 15px;
    }

    .categoria-card-text-header{
        font-size: 12px;
    }
    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #F2F4F6;
    }
    .aside-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 50px;
        padding: 0 2rem;
    }
}

@media (max-width:500px){
    .space{
        height: 900px;
    }
}


@keyframes resize {
    from{height: 40px;}
    to{height: 300px;}
}

@keyframes resizeHeader {
    from{height: 40px;}
    to{height: 600px;}
}

@keyframes minimize {
    from{height: 300px;}
    to{height: 40px;}
}

@keyframes aparition {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    99%{
        visibility: visible;
        opacity: 1;
    }
}