.footer {
    width:100%;
    background-color: #161D25;
    color: #fff;
    padding: 5rem;
}
.footer-head {
    display : flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.lists-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}
ul {
    list-style: none;
}
.footer-lists {
    padding: 1rem;
    border-top: 1px solid #343B43;
    border-bottom: 1px solid #343B43;
    line-height: 1.4rem;
}
button {
    background-color: #343B43;
    border-radius: 10px;
    padding: 5px;
}
a {
    text-decoration: none;
    color:#FFFFFF;
}